# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
        colors = true
	interval = 1
}

order += "cpu_temperature 0"
order += "cpu_usage]"
order += "wireless _first_"
order += "memory"
order += "battery 0"
order += "battery 1"
order += "volume master"
order += "tztime local"
order += "tztime local2"

volume master {
	format = "VOL %volume"
	format_muted = "VOL Muted"
	device = "default"
	mixer = "Master"
	mixer_idx = 0
} 

wireless _first_ {
        format_up = "NET%quality %essid"
        format_down = "W: down"
}

cpu_usage {
format = "%usage"
}
memory {
        format = "RAM %used"
}

cpu_temperature 0 {
	format = "|CPU %degrees°"
}

battery 0{
	format = "BAT 1 %percentage"
} 
battery 1{
	format = "BAT 2 %percentage"
}

tztime local {
        format = "%H:%M:%S"
}

tztime local2 {
	format = "%Y-%m-%d|"
}
